<h1>Artists#index</h1>
<%# erb embedded ruby inside html %>
<ul>
  <% @artists.each do |artist| %>
    <li>
      <%= link_to artist.name, artist %>
    </li>
  <% end %>
</ul>
<%= link_to 'New Artist', new_artist_path %>