<h1>Billboard Top 100</h1>


<ul>
  <% @billboards.each do |billboard| %>
    <li>
      <%= link_to billboard.artist, billboard %>
    </li>
  <% end %>
</ul>
<%= link_to 'New Billboard', new_billboard_path %>

